.App {
  text-align: center;
}
.details{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.content{
  position: absolute;
  height: 400px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  color: white;
  bottom: 0;
  padding-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 10;
}
body,html{
  padding: 0;
  margin: 0;

}
.overLay{
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 7;
}
.details img{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: auto;
  height: 100%;
  background-size: contain;
  z-index: 5;
  background-color: rgba(0, 0,0,0.8);
  margin: 0 auto;
  background-position: center;
}
.text{
  width: 60%;
}